*
!LICENSE
!app
!assets
!components
!libraries
!public
!types
!.eslintrc.json
!.gitignore
!.npmrc
!LICENSE
!middleware.ts
!next.config.js
!next-env.d.ts
!package.json
!postcss.config.js
!tailwind.config.js
!tsconfig.json
